@import "../node_modules/ui-styles/variables.less";

:host {
  display: inline-block;
  position: relative;
  box-sizing:border-box;  
}

background {
	display:block;	
	position:absolute;
	border-radius:50%;
	background-color: fade(#000, 5%);
	height:20px;
	width:20px;	

	.box-shadow(0px 0px 1px @hairline-grey inset);

	&:after {
		content: '';
	}
}
