@transition: 0.2s ease;

.transform(@transform) {
  transform: @transform;
  -webkit-transform: @transform;
}

.transition(...) {
  transition: @arguments;
  -webkit-transition: @arguments;
}

:host {
    position: absolute;
    box-sizing: border-box;
    text-align: right;
    visibility: visible;
    opacity: 1;    
}

:host([animate]) {
    .transition(@transition);  
}

:host([clone]) {
    position: relative;  
    display:inline-block;
    text-align:left;   
    z-index: 1; 
}

:host([active]) {    
    z-index: 99999;    
}

:host([hide]) {
    .transform(rotate(0rad))!important;
    visibility: hidden;
    opacity: 0;    
}
