@import "../node_modules/ui-styles/variables";


:host {
  position: absolute;
  box-sizing: border-box;
  text-align: right;
  visibility: visible;
  opacity: 1;
}

:host([animate]) {
  .transition(@transition);
}

:host([clone]) {
  position: relative;
  display:inline-block;
  text-align:left;
  z-index: initial;
}

:host(:not([clone])) {
  background: @hairline-grey;
  .box-shadow(0px 0px 1px 0px @hairline-grey inset);
  padding: 0.3em;
}

:host([active]) {
  z-index: 99999;
}

:host([hide]) {
  .transform(rotate(0rad))!important;
  visibility: hidden;
  opacity: 0;
}

section[pressed] {
  .transition(@transition);
  .transform(scale(0.95, 0.95));
}
